// $bordercolor: black;
$transbg: #99999957;
$transborder: 1px solid #757373b0;
// $fontstack: 'Vinque Regular';

$hammercur: url('../assets/cursors/Hammer.cur'), auto;
$handcur: url('../assets/cursors/Hand.cur'), auto;
$cursorcur: url('../assets/cursors/Cursor.cur'), auto;